<div class="row">
    <h2>Roles</h2>
    </div>
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="role in roles">
                        <td>
                            {{ role.RoleName }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
