<div class=''>
   
    <div class=''>

        <!--<div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div>-->
        <div style="overflow-x:scroll;">
            <!--<p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
                                 styleClass="company">
            </p-organizationChart>-->

            <p-tree [value]="data1" layout="horizontal" selectionMode="single" [(selection)]="selectedNode"
                    (onNodeSelect)="nodeSelect($event)" [contextMenu]="cm" (onNodeContextMenuSelect)="nodeRightClick($event)"></p-tree>
            <p-contextMenu #cm [model]="itemsmi" appendTo="body" ></p-contextMenu>
        </div>

        <!--<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">

        </div>-->
        <!--<p-dataTable #dt [value]="mainobjlist" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb"
                     selectionMode="single" (onRowSelect)="onRowSelect($event)" >
            <p-column field="nameofuser" header="Name" [sortable]="true"></p-column>
            <p-column field="Email" header="Email" [sortable]="true"></p-column>
            <p-column field="Mobile" header="Mobile" [sortable]="true"></p-column>
            <p-column field="remarks" header="Remarks" [sortable]="true"></p-column>
            <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
        </p-dataTable>-->



        <p-dialog header="Detail" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
            <form novalidate [formGroup]="mainFrm" *ngIf="isnewuser">
                <div class="form-group">
                    <label for="nameofuser">Name</label>
                    <input type="text" class="form-control" id="nameofuser" aria-describedby="emailHelp" placeholder="Enter name" pInputText formControlName="nameofuser">
                </div>
               
                <div class="form-group">
                    <label for="Mobile">Mobile</label>
                    <input type="text" class="form-control" id="Mobile" aria-describedby="emailHelp" placeholder="Enter Mobile" pInputText formControlName="Mobile">
                </div>
               
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter Email" pInputText formControlName="Email">
                </div>
                <div class="form-group">
                    <label for="Remarks">Remarks</label>
                    <textarea class="form-control" id="Remarks" aria-describedby="emailHelp" placeholder="Enter remarks" pInputText formControlName="remarks"></textarea>
                </div>
                

                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" *ngIf="!isNewForm" class="ui-button-danger"></button>
                            <button type="button" pButton icon="fa-check" label="Save" (click)="save(mainFrm)" [disabled]="mainFrm.invalid"></button>
                        </div>
                    </p-footer>
</form>

            <div *ngIf="!isnewuser">
                
                <div *ngIf="roleslist?.length === 0">No role assigned.</div>
                <div *ngIf="roleslist?.length > 0">
                    <div *ngFor="let role of roleslist">
                        <p-checkbox name="group1" value="{{role}}" label="{{role}}" [(ngModel)]="selectedRoles" inputId="{{role}}"></p-checkbox>
                    </div>

                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="fa-check" label="Update Roles" (click)="updateroles()"></button>
                    </div>
                </div>
            </div>
</p-dialog>

       


        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
