
<div class=''>

    <div class=''>
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div>
        <p-dataTable #dt [value]="mainobjlist" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb"
                     selectionMode="single" (onRowSelect)="onRowSelect($event)">

            <p-column field="ForClass.ClassName" header="Class" [sortable]="true"></p-column>

            <p-column field="ForSection.SectionName" header="Section" [sortable]="true"></p-column>

            <p-column field="ForSubject.SubjectName" header="Subject" [sortable]="true"></p-column>
            <p-column field="remarks" header="Remarks" [sortable]="true"></p-column>

            <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
        </p-dataTable>



        <p-dialog header="Detail" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
            <form novalidate [formGroup]="mainFrm">


                <div class="form-group">
                    <label for="ClassModelid">Class</label>
                    <p-dropdown [options]="classes" formControlName="ForClass" placeholder="Select class" optionLabel="ClassName" [autoWidth]="false"
                            [style]="{'width':'100%'}"></p-dropdown>
                    <!--<input type="text" class="form-control" id="ClassModelid" placeholder="Enter Class" pInputText formControlName="ClassModelid">-->
                </div>

                <div class="form-group">

                    <label for="SectionModelid">Section</label>
                    <p-dropdown [options]="sections" formControlName="ForSection" placeholder="Select section" optionLabel="SectionName" [autoWidth]="false"
                            [style]="{'width':'100%'}"></p-dropdown>

                    <!--<input type="text" class="form-control" id="SectionModelid" placeholder="Enter Section" pInputText formControlName="SectionModelid">-->
                </div>

                <div class="form-group">

                    <label for="SubjectModelid">Subject</label>
                    <p-dropdown [options]="subjects" formControlName="ForSubject" placeholder="Select subject" optionLabel="SubjectName" [autoWidth]="false"
                            [style]="{'width':'100%'}"></p-dropdown>

                    <!--<input type="text" class="form-control" id="SubjectModelid" placeholder="Enter Subject" pInputText formControlName="SubjectModelid">-->
                </div>


                <div class="form-group">
                    <label for="Remarks">Remarks</label>
                    <textarea class="form-control" id="Remarks" placeholder="Enter remarks" pInputText formControlName="remarks"></textarea>
                </div>
             
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="fa-check" label="Save" (click)="save(mainFrm)" [disabled]="mainFrm.invalid"></button>
                        <button type="button" pButton icon="fa-times" label="Delete" (click)="delete(mainFrm)" *ngIf="!isNewForm" class="ui-button-danger"></button>

                    </div>
                </p-footer>
            </form>
        </p-dialog>



        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>


